@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<table class="table">
  <thead>
    <caption></caption>
    <tr>
      <th scope="col">Asignatura</th>
      <th scope="col">L1</th>
      <th scope="col">P1</th>
      <th scope="col">L2</th>
      <th scope="col">P2</th>
      <th scope="col">L3</th>
      <th scope="col">P3</th>
      <th scope="col">Promedio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">PRO AP. II</th>
      <td> @ViewBag.l1 </td>
      <td> @ViewBag.p1 </td>
      <td> @ViewBag.l2 </td>
      <td> @ViewBag.p2 </td>
      <td> @ViewBag.l3 </td>
      <td> @ViewBag.p3 </td>
      <td> @ViewBag.promf </td>
    </tr>
  </tbody>
</table>
